<% include ../partials/header %>

<div class="container">
    <header id="new_header">
        <h1>编辑评论</h1>
    </header>
    <form id ="new_form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=PUT" method="POST" >
        <div class="form-group">
            <textarea class="form-control"  name = "comment[text]"><%= comment.text %></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-success btn-lg btn-block">提交！</button>
        </div>
        <a href="/campgrounds/<%= campground._id %>">返回</a>
    </form>
    
</div>

<% include ../partials/footer %>