<% include ../partials/header %>

<div class="container">
    <header id="new_header">
        <h1>Add New Comment to <%= campground.name %></h1>
    </header>
    <form id="new_form" action="/campgrounds/<%= campground._id %>/comments" method="POST" >
        <div class="form-group">
            <textarea class="form-control" placeholder="comment..." name = "comment[text]"></textarea>
        </div>
       <!-- <div class="form-group">
            <input class="form-control" type="text" placeholder="Author" name = "comment[author]">
        </div>-->
        <div class="form-group">
            <button class="btn btn-success btn-lg btn-block">Submit！</button>
        </div>
        <a href="/campgrounds/<%= campground._id %>">Back</a>
    </form>
    
</div>

<% include ../partials/footer %>