<% include ./partials/header %>

<div class="container">
    <form id="forgot_form" action="/forgot" method="POST">
        <div class="form-group">
            <label for="forgot_email">账号的电子邮件</label>
            <input id="forgot_email" class="form-control" type="email" name="email" placeholder="email@example.com">
        </div>
        <button class="btn btn-primary">发送重置邮件到您的邮箱</button>
    </form>
</div>

<% include ./partials/footer %>