<% include ./partials/header %>

<div class="container">
    <header id="registerOrLogin_header">
        <h1>YelpCamp 注册</h1>
    </header>
    
    <form id="registerOrLogin_form" action="/register" method="POST">
        <label for="username">用户名</label>
        <div class="form-group">
            <input id="username" class="form-control" type="text" name="username">
        </div>
        <label for="password">密码</label>
        <div class="form-group">
            <input id="password" class="form-control" type="password" name="password">
        </div>
        <label for="email">电子邮件</label>
        <div class="form-group">
            <input id="email" class="form-control" type="email" name="email">
        </div>
        <label for="adminCode">Admin code(非必需)</label>
        <div class="form-group">
            <input id="adminCode" class="form-control" type="text" name="adminCode">
        </div>
        <div class="form-group">
            <button class="btn btn-success btn-block">注册!</button>
        </div>
    </form>
</div>


<% include ./partials/footer %>