#index_row{
    display: flex; 
    flex-wrap: wrap;
}

#index_row .thumbnail{
    padding: 0;
    text-align: center;
}

#new_header{
    text-align: center;
    display: none;
}

#new_form{
    width:30%; margin: 30px auto;
}

#delete_form{
    display: inline-block;
}

#registerOrLogin_form{
    width: 30%;
    margin: 30px auto;
}

#registerOrLogin_header{
    margin-top: 60px;
    text-align: center;
}

#map{
    height: 400px;
    width: 100%;
}

#campgrounds_index_header{
    font-size: 4em;
}

#forgot_form{
    width: 40%;
    margin: 20px auto;
}

#reset_form{
    width: 40%;
    margin: 20px auto;
}

#forgot_form{
    margin: 80px auto;
}

#profile_header{
    font-size: 1.5em;
}

#profile_list_header{
    font-size: 1.2em;
    margin-bottom: 20px;
}

#search_form_input{
    width: 182px;
}

#campground_index_p{
    font-size: 1.5em;
}

.campgrounds_name{
    font-size: 1.25em;
}

.caption.campgrounds{
    padding: 3px;
}

.caption-full .pull-right{
    margin-top: -1px;
}

.thumbnail img{
    width: 100%;
}

.thumbnail{
    padding: 0;
}

.thumbnail .caption-full{
    margin: 9px;
}

.glyphicon-tent{
    font-size: 0.8em;   
}

*{
    font-family: Lato;
}